USE [master]
GO
/****** Object:  Database [QuanLyCamDo_DB_ViTranTien]    Script Date: 12/05/2026 4:15:40 AM ******/
CREATE DATABASE [QuanLyCamDo_DB_ViTranTien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCamDo_DB_ViTranTien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\QuanLyCamDo_DB_ViTranTien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyCamDo_DB_ViTranTien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\QuanLyCamDo_DB_ViTranTien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCamDo_DB_ViTranTien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCamDo_DB_ViTranTien]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhDuNo]    Script Date: 12/05/2026 4:15:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TinhDuNo]
(
    @MaHD INT,
    @TargetDate DATE
)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @TienGoc DECIMAL(18,2), @Deadline1 DATE, @NgayVay DATE;
    DECLARE @LaiSuat FLOAT = 0.005; 
    DECLARE @TongTien DECIMAL(18,2) = 0, @DaTra DECIMAL(18,2) = 0;

    SELECT @TienGoc = TienGoc, @Deadline1 = Deadline1, @NgayVay = NgayVay
    FROM HopDong WHERE MaHD = @MaHD;

    -- Lấy tổng đã trả (nếu có)
    SELECT @DaTra = ISNULL(SUM(SoTienTra), 0) 
    FROM LogGiaoDich WHERE MaHD = @MaHD AND CAST(NgayTra AS DATE) <= @TargetDate;

    IF @TargetDate <= @Deadline1
    BEGIN
        DECLARE @SoNgay INT = DATEDIFF(DAY, @NgayVay, @TargetDate);
        IF @SoNgay < 0 SET @SoNgay = 0;
        SET @TongTien = @TienGoc + (@TienGoc * @LaiSuat * @SoNgay);
    END
    ELSE
    BEGIN
        -- Chốt gốc và lãi đơn tại Deadline 1
        DECLARE @NgayLaiDon INT = DATEDIFF(DAY, @NgayVay, @Deadline1);
        DECLARE @GocVaLaiDon DECIMAL(18,2) = @TienGoc + (@TienGoc * @LaiSuat * @NgayLaiDon);
        
        -- Tính lãi kép cho số ngày vượt
        DECLARE @NgayLaiKep INT = DATEDIFF(DAY, @Deadline1, @TargetDate);
        SET @TongTien = @GocVaLaiDon * POWER((1.0 + @LaiSuat), @NgayLaiKep);
    END

    DECLARE @DuNo DECIMAL(18,2) = @TongTien - @DaTra;
    IF @DuNo < 0 SET @DuNo = 0;
    RETURN @DuNo;
END;

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/05/2026 4:15:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 12/05/2026 4:15:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[TienGoc] [decimal](18, 2) NOT NULL,
	[NgayVay] [date] NOT NULL,
	[Deadline1] [date] NOT NULL,
	[Deadline2] [date] NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_DanhSachNoXau]    Script Date: 12/05/2026 4:15:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_DanhSachNoXau] AS
SELECT 
    kh.TenKH, kh.SoDienThoai, 
    hd.MaHD, hd.TienGoc, hd.Deadline1,
    DATEDIFF(DAY, hd.Deadline1, GETDATE()) AS SoNgayQuaHan_D1,
    dbo.fn_TinhDuNo(hd.MaHD, GETDATE()) AS DuNoHienTai,
    dbo.fn_TinhDuNo(hd.MaHD, DATEADD(DAY, 30, GETDATE())) AS DuNoDuBao_Sau30Ngay
FROM HopDong hd
JOIN KhachHang kh ON hd.MaKH = kh.MaKH
WHERE GETDATE() > hd.Deadline1 
  AND hd.TrangThai IN (N'Đang vay', N'Quá hạn (nợ xấu)')
  AND dbo.fn_TinhDuNo(hd.MaHD, GETDATE()) > 0;

GO
/****** Object:  Table [dbo].[LogGiaoDich]    Script Date: 12/05/2026 4:15:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogGiaoDich](
	[MaLog] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[NgayTra] [datetime] NULL,
	[SoTienTra] [decimal](18, 2) NOT NULL,
	[NguoiThuTien] [nvarchar](100) NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiSan]    Script Date: 12/05/2026 4:15:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiSan](
	[MaTS] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[TenTaiSan] [nvarchar](200) NOT NULL,
	[GiaTriDinhGia] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HopDong] ON 

INSERT [dbo].[HopDong] ([MaHD], [MaKH], [TienGoc], [NgayVay], [Deadline1], [Deadline2], [TrangThai]) VALUES (0, 1, CAST(15000000.00 AS Decimal(18, 2)), CAST(N'2026-05-02' AS Date), CAST(N'2026-06-01' AS Date), CAST(N'2026-07-01' AS Date), N'Đang vay')
INSERT [dbo].[HopDong] ([MaHD], [MaKH], [TienGoc], [NgayVay], [Deadline1], [Deadline2], [TrangThai]) VALUES (1, 2, CAST(50000000.00 AS Decimal(18, 2)), CAST(N'2026-04-02' AS Date), CAST(N'2026-06-11' AS Date), CAST(N'2026-07-11' AS Date), N'Đang vay')
INSERT [dbo].[HopDong] ([MaHD], [MaKH], [TienGoc], [NgayVay], [Deadline1], [Deadline2], [TrangThai]) VALUES (3, 1, CAST(10000000.00 AS Decimal(18, 2)), CAST(N'2024-01-01' AS Date), CAST(N'2024-01-31' AS Date), CAST(N'2024-03-01' AS Date), N'Quá hạn (nợ xấu)')
SET IDENTITY_INSERT [dbo].[HopDong] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SoDienThoai]) VALUES (0, N'Nguyễn Văn A', N'0901234567')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SoDienThoai]) VALUES (1, N'Trần Thị B', N'0987654321')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SoDienThoai]) VALUES (2, N'Lê Hoàng C', N'0911222333')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LogGiaoDich] ON 

INSERT [dbo].[LogGiaoDich] ([MaLog], [MaHD], [NgayTra], [SoTienTra], [NguoiThuTien], [GhiChu]) VALUES (0, 1, CAST(N'2026-05-07T04:04:47.663' AS DateTime), CAST(2000000.00 AS Decimal(18, 2)), N'Admin', N'Khách đóng tiền trả bớt nợ gốc đợt 1')
INSERT [dbo].[LogGiaoDich] ([MaLog], [MaHD], [NgayTra], [SoTienTra], [NguoiThuTien], [GhiChu]) VALUES (2, 1, CAST(N'2026-05-12T04:07:50.540' AS DateTime), CAST(5000000.00 AS Decimal(18, 2)), NULL, N'Thanh toán nợ')
INSERT [dbo].[LogGiaoDich] ([MaLog], [MaHD], [NgayTra], [SoTienTra], [NguoiThuTien], [GhiChu]) VALUES (3, 1, CAST(N'2026-05-12T04:10:13.970' AS DateTime), CAST(3440557.59 AS Decimal(18, 2)), NULL, N'Thu lãi tồn đọng để gia hạn')
SET IDENTITY_INSERT [dbo].[LogGiaoDich] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiSan] ON 

INSERT [dbo].[TaiSan] ([MaTS], [MaHD], [TenTaiSan], [GiaTriDinhGia], [TrangThai]) VALUES (0, 1, N'Laptop Macbook Pro M1', CAST(18000000.00 AS Decimal(18, 2)), N'Đang cầm cố')
INSERT [dbo].[TaiSan] ([MaTS], [MaHD], [TenTaiSan], [GiaTriDinhGia], [TrangThai]) VALUES (1, 1, N'Apple Watch Series 7', CAST(5000000.00 AS Decimal(18, 2)), N'Đang cầm cố')
INSERT [dbo].[TaiSan] ([MaTS], [MaHD], [TenTaiSan], [GiaTriDinhGia], [TrangThai]) VALUES (4, 1, N'Laptop Macbook M2', CAST(15000000.00 AS Decimal(18, 2)), N'Đang cầm cố')
SET IDENTITY_INSERT [dbo].[TaiSan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__0389B7BD568ED95A]    Script Date: 12/05/2026 4:15:41 AM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (getdate()) FOR [NgayVay]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (N'Đang vay') FOR [TrangThai]
GO
ALTER TABLE [dbo].[LogGiaoDich] ADD  DEFAULT (getdate()) FOR [NgayTra]
GO
ALTER TABLE [dbo].[TaiSan] ADD  DEFAULT (N'Đang cầm cố') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[LogGiaoDich]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
ALTER TABLE [dbo].[TaiSan]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
/****** Object:  StoredProcedure [dbo].[SP_DangKyHopDong]    Script Date: 12/05/2026 4:15:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DangKyHopDong]
    @MaKH INT,
    @TienGoc DECIMAL(18,2),
    @NgayVay DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;
    IF @NgayVay IS NULL SET @NgayVay = GETDATE();

    DECLARE @Deadline1 DATE = DATEADD(DAY, 30, @NgayVay);
    DECLARE @Deadline2 DATE = DATEADD(DAY, 60, @NgayVay);

    INSERT INTO HopDong (MaKH, TienGoc, NgayVay, Deadline1, Deadline2, TrangThai)
    VALUES (@MaKH, @TienGoc, @NgayVay, @Deadline1, @Deadline2, N'Đang vay');
    
    SELECT SCOPE_IDENTITY() AS MaHopDongMoi, N'Tạo hợp đồng thành công' as Message;
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_GiaHanHopDong]    Script Date: 12/05/2026 4:15:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GiaHanHopDong]
    @MaHD INT
AS
BEGIN
    DECLARE @DuNo DECIMAL(18,2), @TienGoc DECIMAL(18,2), @LaiPhaiTra DECIMAL(18,2);
    
    SET @DuNo = dbo.fn_TinhDuNo(@MaHD, GETDATE());
    SELECT @TienGoc = TienGoc FROM HopDong WHERE MaHD = @MaHD;
    
    SET @LaiPhaiTra = @DuNo - @TienGoc;

    IF @LaiPhaiTra > 0
    BEGIN
        -- Thu toàn bộ tiền lãi
        INSERT INTO LogGiaoDich (MaHD, SoTienTra, GhiChu) 
        VALUES (@MaHD, @LaiPhaiTra, N'Thu lãi tồn đọng để gia hạn');
    END

    -- Reset kỳ hạn
    UPDATE HopDong
    SET Deadline1 = DATEADD(DAY, 30, GETDATE()),
        Deadline2 = DATEADD(DAY, 60, GETDATE()),
        TrangThai = N'Đang vay'
    WHERE MaHD = @MaHD;

    PRINT N'Đã gia hạn thành công. Thu tiền lãi: ' + CAST(@LaiPhaiTra AS NVARCHAR(50));
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_Job_ChuyenTrangThaiQuaHan]    Script Date: 12/05/2026 4:15:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- YÊU CẦU 1 & 2: Procedure xử lý quá hạn do thời gian (Chạy Job Daily)
CREATE PROCEDURE [dbo].[SP_Job_ChuyenTrangThaiQuaHan]
AS
BEGIN
    -- 1. Vượt Deadline 1: Chuyển Hợp Đồng -> Quá hạn
    UPDATE HopDong SET TrangThai = N'Quá hạn (nợ xấu)'
    WHERE TrangThai = N'Đang vay' AND GETDATE() > Deadline1;

    -- 2. Vượt Deadline 2: Chuyển Tài Sản -> Sẵn sàng thanh lý
    UPDATE TaiSan SET TrangThai = N'Sẵn sàng thanh lý'
    WHERE TrangThai = N'Đang cầm cố'
      AND MaHD IN (SELECT MaHD FROM HopDong WHERE GETDATE() > Deadline2);
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_ThanhToan]    Script Date: 12/05/2026 4:15:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ThanhToan]
    @MaHD INT,
    @SoTienTra DECIMAL(18,2)
AS
BEGIN
    DECLARE @DuNo DECIMAL(18,2), @TongGiaTriTaiSan DECIMAL(18,2), @PhanDuThua DECIMAL(18,2);

    IF (SELECT TrangThai FROM HopDong WHERE MaHD = @MaHD) = N'Đã thanh lý tài sản'
    BEGIN
        PRINT N'Hợp đồng đã bị thanh lý. Hủy giao dịch.'; RETURN;
    END

    -- Ghi Log
    INSERT INTO LogGiaoDich (MaHD, SoTienTra, GhiChu) VALUES (@MaHD, @SoTienTra, N'Thanh toán nợ');

    -- Tính dư nợ
    SET @DuNo = dbo.fn_TinhDuNo(@MaHD, GETDATE());

    IF @DuNo = 0
    BEGIN
        UPDATE HopDong SET TrangThai = N'Đã thanh toán' WHERE MaHD = @MaHD;
        UPDATE TaiSan SET TrangThai = N'Đã trả khách' WHERE MaHD = @MaHD AND TrangThai = N'Đang cầm cố';
        PRINT N'Tất toán thành công. Đã trả mọi tài sản.';
    END
    ELSE
    BEGIN
        PRINT N'Dư nợ còn lại: ' + CAST(@DuNo AS NVARCHAR(50));
        
        SELECT @TongGiaTriTaiSan = ISNULL(SUM(GiaTriDinhGia), 0)
        FROM TaiSan WHERE MaHD = @MaHD AND TrangThai = N'Đang cầm cố';

        SET @PhanDuThua = @TongGiaTriTaiSan - @DuNo;
        
        IF @PhanDuThua > 0
        BEGIN
            PRINT N'>> DANH SÁCH TÀI SẢN BẠN CÓ THỂ LẤY VỀ:';
            SELECT MaTS, TenTaiSan, GiaTriDinhGia 
            FROM TaiSan 
            WHERE MaHD = @MaHD AND TrangThai = N'Đang cầm cố' AND GiaTriDinhGia <= @PhanDuThua;
        END
        ELSE
            PRINT N'>> Chưa đủ điều kiện an toàn để lấy bớt tài sản về.';
    END
END;

GO
/****** Object:  Trigger [dbo].[trg_HopDong_ThanhLyTaiSan]    Script Date: 12/05/2026 4:15:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- YÊU CẦU 3: Trigger cascade trạng thái khi bị Thanh lý
CREATE TRIGGER [dbo].[trg_HopDong_ThanhLyTaiSan]
ON [dbo].[HopDong]
AFTER UPDATE
AS
BEGIN
    -- Kiểm tra xem có phải update vào cột TrangThai và giá trị mới là Đã thanh lý không
    IF UPDATE(TrangThai)
    BEGIN
        UPDATE TaiSan SET TrangThai = N'Đã bán thanh lý'
        FROM TaiSan ts
        INNER JOIN inserted i ON ts.MaHD = i.MaHD
        WHERE i.TrangThai = N'Đã thanh lý tài sản'
          AND ts.TrangThai IN (N'Đang cầm cố', N'Sẵn sàng thanh lý');
    END
END;

GO
ALTER TABLE [dbo].[HopDong] ENABLE TRIGGER [trg_HopDong_ThanhLyTaiSan]
GO
USE [master]
GO
